/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    
}


.main-container {
    display: flex;
    min-height: 100vh;
    
    
}

/* Left-border section styles */
.left-border {
    width: 350px;
    background-color: rgb(227, 231, 231);
    padding-left: 30px;
    padding-top: 40px;
    
}

img {
    margin-top: 30px;
    width: 320px; /* Set the desired width */
    height: auto; /* Maintain the aspect ratio */
    margin-right:10px
    

    
}
/* Styles for the text box */
.position-text-box { 
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    text-align: left; /* Center the text horizontally */  
    padding-top: 31px;
  
    
}

/* Styles for the headers */
.position-text-box h1,
.position-text-box h4 {
    display: block; /* Ensure block-level display */
    margin-top: 10!important; /* Adding !important to ensure this style has higher specificity */
    line-height: 0; /* Adjust to suit your design */
    padding:0px; /* Remove padding */
    color: rgb(41, 142, 224);
}

.contact-details{
    margin-top: 15px;
    margin-bottom: 20px;
    width: 100%;
    text-align: left; 
    padding-top: 5px;
}

.contact-details h5 {
    margin-bottom: 20px;
    padding:2px;
    border-bottom: 2px solid rgb(48, 47, 47);
    width: 50%;
    text-align: left;
}

.core-skills{
   
    width: 100%;
    text-align: left; 
   
}

.core-skills h5 {
   
    padding:2px;
    border-bottom: 2px solid rgb(48, 47, 47);
    width: 50%;
    text-align: left;
}

.education{
   
    width: 100%;
    text-align: left; 
}

.education h5 {
 
    padding:2px;
    border-bottom: 2px solid rgb(48, 47, 47);
    width: 50%;
    text-align: left;
}


/* Main content section styles */
.main-content {
    flex-grow: 1;
    
}

.position-profile {
    margin-top: 45px;
    width: 1000px; /* Set the desired width */
    height: auto;
    position: relative;
    left: 25px; /* Adjust the left position as needed */
    margin-bottom: 10px; /* Set the margin-bottom property correctly */
    text-align: left
    
}


.position-profile h5 {
    text-align: left;
    border-bottom: 2px solid black;
    padding-bottom: 2px;
    width: 20%;
   
    
    
}

.list-container ul {
    padding: 0;
    margin-bottom: 20px;
}

.list-container li {
    margin-bottom: 10px;
}

ul.list-unstyled {
    padding-left: 0;
    list-style-type: none;  /* No bullet points for this class */
}

ul.custom-colored-bullet-list {
    padding-left: 0;
    list-style-type: disc;  /* Bullet points for this class */
}

.icon-colored {
    color: rgb(41, 142, 224);
}


.position-career {
    margin-top: 50px;
    width: 1000px; /* Set the desired width */
    height: auto;
    position: relative;
    left: 25px; /* Adjust the left position as needed */
    text-align: left
}

.position-career h5 {
    text-align: left;
    border-bottom: 2px solid black;
    padding-bottom: 2px;
    width: 20%;
    
}

.dates{
    color: rgb(41, 142, 224);
    margin-top: 30px;
    font-weight: bold;
}

.footer {
    text-align: center; /* Centers the text horizontally */
    /* Other styling properties like padding, margin, color, etc. can go here */
    font-style: italic;
    font-weight: bold;
    margin-bottom: 30px;
    color: rgb(41, 142, 224);
   
}

